.px-3{
    background-color: rgb(238, 237, 237);
    border: 1px solid rgb(239, 239, 240);
    border-radius: 4px;
    color: #000000;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}